<?xml version="1.0"?>
<!--
/**
 * Copyright 2026 Adobe
 * All Rights Reserved.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\InventorySalesApi\Model\GetProductAvailableQtyInterface" type="Magento\InventorySales\Model\GetProductAvailableQtyCache"/>
    <type name="Magento\InventorySalesApi\Model\PreloadDataBySkuListPool">
        <arguments>
            <argument name="pool" xsi:type="array">
                <item name="preload_reservations_quantity" xsi:type="object">Magento\InventorySales\Model\PreloadReservationsQuantityDataBySkuList</item>
                <item name="preload_product_available_qty" xsi:type="object">Magento\InventorySales\Model\PreloadProductAvailableQtyDataBySkuList</item>
                <item name="preload_is_product_assigned_to_stock" xsi:type="object">Magento\InventorySales\Model\PreloadIsProductAssignedToStockDataBySkuList</item>
            </argument>
        </arguments>
    </type>
</config>
