<?xml version="1.0"?>
<!--
/**
 * Copyright 2026 Jeanmarcos Juarez
 * SPDX-License-Identifier: OSL-3.0 OR AFL-3.0
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="inventory_stockviz" frontName="inventory_stockviz">
            <module name="Magento_InventoryStockVisualizer"/>
        </route>
    </router>
</config>
