<?xml version="1.0"?>
<!--
/**
 * Copyright 2026 Adobe
 * All Rights Reserved.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <cataloginventory>
            <source_reservations>
                <enabled>0</enabled>
                <reconcile_cancel_refund>0</reconcile_cancel_refund>
                <reconcile_sweep_enabled>0</reconcile_sweep_enabled>
                <reconcile_sweep_cron>0 * * * *</reconcile_sweep_cron>
            </source_reservations>
        </cataloginventory>
    </default>
</config>
